name: Full Stack Testing

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  backend-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Backend
        run: git clone https://github.com/CommandLineFox/VetAppBackend.git backend

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Run Maven Tests
        run: |
          cd backend
          mvn clean test

  cypress-e2e-tests:
    runs-on: ubuntu-latest
    needs: backend-tests
    steps:
      - name: Checkout Frontend
        uses: actions/checkout@v4
        with:
          path: frontend

      - name: Checkout Backend
        run: git clone https://github.com/CommandLineFox/VetAppBackend.git backend

      - name: Start backend and database
        run: |
          cd backend
          docker compose up -d --build

      - name: Wait for Backend & Database Seed
        run: |
          sleep 5
          echo "Backend ready"

      - name: Run Cypress
        uses: cypress-io/github-action@v6
        with:
          working-directory: frontend
          start: npm start
          wait-on: 'http://localhost:3000'
          wait-on-timeout: 120